<nav class="toolbar navbar navbar-expand-md fixed-top ">
    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
        <i class="fa fa-bars menu-btn"></i>
    </button>

    <span ><img src="/assets/images/chez mek.png" height=50 width=91></span>

    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item "><button class="nav-link " mat-button routerLink='/home' routerLinkActive='active'>HOME</button></li>
            <li class="nav-item "><button class="nav-link " mat-button routerLink='/about' routerLinkActive='active'>ABOUT</button></li>
            <li class="nav-item "><button class="nav-link" mat-button routerLink='/menu' routerLinkActive='active'>MENU</button></li>
            <li class="nav-item "><button class="nav-link" mat-button routerLink='/reservations' routerLinkActive='active'>RESERVATIONS</button></li>
            <li class="nav-item "><button class="nav-link" mat-button routerLink='/contact' routerLinkActive='active'>CONTACT</button></li>
        </ul>

        <div *ngIf="!username">
        <button mat-button [matMenuTriggerFor]="animals" ><span class="fa fa-user-circle fa-lg"></span> Account </button>
        <mat-menu #animals="matMenu" class="user-menu">
            <button mat-menu-item ></button>
            <button (click)="openLoginForm()" mat-menu-item ><i style="font-size: 120%"class="fa fa-sign-in"></i>  Login</button>
            <button (click)="openSignUpForm()" mat-menu-item > <i class="fa fa-user-plus"></i>  Sign Up</button>
        </mat-menu>
        </div>
        <a *ngIf="username">{{username}}</a>
        <button mat-button *ngIf="username" mat-button (click)="logOut()"><span class="fa fa-sign-out fa-lg"></span> Logout</button>
    </div>

</nav>


<div class="row" >
<div class="col-12" style="padding: 0px ; margin-top: 30px">
    <app-carousel></app-carousel>
</div>
</div>
