<nav class="toolbar navbar navbar-expand-md fixed-top ">
    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
        <i class="fa fa-bars menu-btn"></i>
    </button>

    <span ><img src="/assets/images/chez mek.png" height=50 width=91></span>

    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item "><button class="nav-link " mat-button routerLink='/home' routerLinkActive='active'>HOME</button></li>
            <li class="nav-item "><button class="nav-link " mat-button routerLink='/about' routerLinkActive='active'>ABOUT</button></li>
            <li class="nav-item "><button class="nav-link" mat-button routerLink='/menu' routerLinkActive='active'>MENU</button></li>
            <li class="nav-item "><button class="nav-link" mat-button routerLink='/reservations' routerLinkActive='active'>RESERVATIONS</button></li>
            <li class="nav-item "><button class="nav-link" mat-button routerLink='/blog' routerLinkActive='active'>BLOG</button></li>
            <li class="nav-item "><button class="nav-link" mat-button routerLink='/contact' routerLinkActive='active'>CONTACT</button></li>
        </ul>

        <button mat-button (click)="openLoginForm()"><span class="fa fa-user-circle fa-lg"></span>  Login </button>
    </div>

</nav>


<div class="container">
    <div class="row">
    </div>
   
</div>

<!-- <div class='jumbotron'>
  <div>
    <h1>Ristorante Con Fusion</h1>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
  </div>
  <div >
    <img src="/assets/images/logo.png" alt="Logo">
  </div>
  <div ></div>
</div> -->