<div class="footer">
  <div class="row " style="margin-top: 60px ">
    
    <div class="col-6 col-sm-4 col-md-2  offset-3 offset-md-5 offset-sm-4" >
      <div class="row justify-content-center">
      <img  src="/assets/images/chez mek.png" class="img-fluid">
      </div>
    </div>

    <div class="col-10 col-sm-8 col-md-6  offset-1 offset-md-3 offset-sm-2 mt-4 " >
        <div class="row justify-content-center  footer-txt">
          <div class="col-12"><p >22 Royal Street, Sundance Avenue, New York</p></div>
          <div class="col-12"><p >RESERVATIONS NUMBER: +00 000 000 </p></div>
          <div class="col-12"><p >WORKING HOURS:</p></div>
          <div class="col-12"><p >MON- FRI: 08:00 AM - 10:00 PM</p></div>
          <div class="col-12"><p >SAT - SUN: 10:00 AM - 11:00 PM</p></div>
        </div>
    </div>
  </div>

  <div class="row align-items-center" style="margin-top: 50px ">

    <div class="col-12 col-md-4 " >
        <div style="text-align:center">
            <a mat-icon-button class="btn-facebook ml-2" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
            <a mat-icon-button class="btn-linkedin ml-2" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
            <a mat-icon-button class="btn-twitter ml-2" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
            <a mat-icon-button class="btn-youtube ml-2" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
          </div>
    </div>  

    <div class="col-12 col-md-5 offset-md-3">
        <mat-form-field class="col-12 col-md-7">
            <input class="footer-input " value="Subscribe">
        </mat-form-field>

        <mat-form-field class="col-12 col-md-4">
          <button class="footer-btn" >SUBMIT</button>
        </mat-form-field>

      </div>
  </div>


    <div class="row mt-4">
      <div class="col-md-4 mt-2 justify-content-center" >
          <div style="text-align:center;font-size: 85%;color: rgb(134, 134, 134)">
            <p>© Copyright 2018 Restaurant CheZ MeK</p>
          </div>
      </div>

      <div class='col-md-6 offset-md-2 justify-content-center'>
        <button mat-button class="footer-link" routerLink='/home'>HOME</button>
        <button mat-button class="footer-link" routerLink='/about'>ABOUT</button>
        <button mat-button class="footer-link" routerLink='/menu'>MENU</button>
        <button mat-button class="footer-link" routerLink='/reservations'>RESERVATIONS</button>
        <button mat-button class="footer-link" routerLink='/blog'>BLOG</button>
        <button mat-button class="footer-link" routerLink='/contact'>CONTACT</button>
      </div>
    </div> 

</div>