<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  

  <div class="carousel-inner">

    <div class="carousel-item active">

      <div class="row ">
      <div class="offset-1  col-md-5 col-10 ">
        <img class="d-block w-100 img-fluid" src="../../assets/images/catering1.jpg" alt="First slide">
      </div>
      <div class="offset-1 offset-md-0 col-10 col-md-5">
        <div class="row justify-content-center align-items-center">
          <div class="col-10 offset-1 mt-5">
          <img src="../../assets/images/cat1.png" class="img-fluid">
          <p class="mt-4">Celebrate your special event in beautiful atmosphere of Royal Plate. 
            Exquisite &amp; creative cousine, friendly atmosphere and highly professional staff will make your special day beautiful &amp; enjoyable. You can select from couple of pre-made menus for every occasion that should please many 
            different palates or work with us to create your own menu.</p>
          </div>
        </div> 
      </div>

      </div>
    </div> 

    <div class="carousel-item ">
      <div class="row">

      <div class="offset-1  col-md-5 col-10 ">
          <img class="d-block w-100 img-fluid" src="../../assets/images/catering2.jpg" alt="First slide">
      </div>
      <div class="offset-1 offset-md-0 col-10 col-md-5">
        <div class="row justify-content-center align-items-center">
          <div class="col-10 offset-1 mt-5">
          <img src="../../assets/images/cat3.png" class="img-fluid">
          <p class="mt-4">Planning an important business meeting with your partners? Impress them with lunch in Royal Plate.
            Royal Plate covers everything from business lunches, to custom team building programs and corporate 
            parties. No matter of party size and occasion, our catering specialist will plan your event to meet
            your needs.</p>
          </div>
        </div> 
      </div>

      </div>
    </div> 
  

    <div class="carousel-item ">
      <div class="row">
      <div class="offset-1  col-md-5 col-10 ">
        <img class="d-block w-100 img-fluid" src="../../assets/images/catering3.jpg" alt="First slide">
      </div>
      <div class="offset-1 offset-md-0 col-10 col-md-5">
        <div class="row justify-content-center align-items-center">
          <div class="col-10 offset-1 mt-5">
          <img src="../../assets/images/cat2.png" class="img-fluid">
          <p class="mt-4">Weather you are celebrating your birthday, have a family reunion or 
            something else, we’ll make it enjoying and memorable. Our experts have years of experience in party planning and will make sure it is a delicious 
            success, enjoying and memorable for you and your guests! Time to put your party hat on!.</p>
      
          </div>
        </div> 
      </div>

      </div>
    </div> 
  
  </div>
  <div >
  <ol class="carousel-indicators" >
      <li style="background:#fbda9a;border: 1px solid rgb(110, 110, 110); height:5px ; " data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li style="background:#fbda9a;border: 1px solid rgb(110, 110, 110); height:5px ; "data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li style="background:#fbda9a;border: 1px solid rgb(110, 110, 100); height:5px ; "data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
</div>
  

</div>
