.row{
    margin-right: 0px ;
}
p{
    line-height: 35px ;
    color: rgb(119, 119, 119) ;
    text-align: center ;
    font-size: 90%;

}

.leaders{
    line-height: 23px ;

    color: rgb(119, 119, 119) ;
    text-align: center ;
    font-size: 90%;
    margin-top: 20px ;
}