<div class="container">

  <div class="row contact-margin">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
      <img class="img-fluid" src="../../assets/images/contact title.png">
    </div>
  </div>  

</div>


<div class='container ' style="margin-bottom: 150px">
  <form (ngSubmit)="send(f)" #f="ngForm" class="col-12">
    <div class="row" >

        <div class="col-12 col-md-6 mt-3 mb-4">
          <input class="home-input" name="firstname" ngModel placeholder="First Name" type="text" required>
        </div>
    

        <div class="col-12 col-md-6 mt-3 mb-4" >
          <input class="home-input " name="lastname" ngModel placeholder="Last Name" type="text" required>
        </div>


        <div class="col-12 col-md-6 mt-3 mb-4">
          <input class="home-input " name="tel" ngModel placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
        </div>

        <div class="col-12 col-md-6 mt-3 mb-4">
          <input class="home-input " name="email" ngModel placeholder="Email" type="email" email required>
        </div>


        <div class="col-12 mt-3 mb-4">
          <textarea class="contact-text-area " name="msg" ngModel placeholder="Your Feedback" rows=12></textarea>
        </div>

        <div class="col-12 col-md-8 offset-md-2">
          <button type="submit" class="contact-btn">SEND</button>
        </div>

        </div>
      
  </form>
  </div>

  <app-location></app-location>
      

