.row{
    margin-right: 0px ;
}


h4{
    text-align: center ;
    font-family: Georgia, Times, 'Times New Roman', serif ;
    font-size : 140% ;
}
p{
    font-size: 80% ;
    color : #4e4e4e ;
    text-align: center ;
}
.price{
    text-align: center ;
    font-family: Georgia, Times, 'Times New Roman', serif ;
    font-size : 180% ;
    background-color:#ffcf6e ;
    color : #fff ;
}